{% load i18n %}<div id="{{ widget.attrs.id }}_div_map" class="dj_map_wrapper">
    <div id="{{ widget.attrs.id }}_map" class="dj_map"></div>
    {% if not disabled %}<span class="clear_features"><a href="">{% translate "Delete all Features" %}</a></span>{% endif %}
    {% if widget.attrs.display_raw %}<p>{% translate "Debugging window (serialized value)" %}</p>{% endif %}
    <textarea id="{{ widget.attrs.id }}" class="vSerializedField required" cols="150" rows="10" name="{{ widget.name }}" {% if not widget.attrs.display_raw %} hidden{% endif %}>{{ serialized }}</textarea>
    {% with script_id=widget.attrs.id|add:"_mapwidget_options" %}{{ widget.attrs|json_script:script_id }}{% endwith %}
</div>
<script>
    (function () {
        console.log("Azimuth: Version 18.1 - Syntax Fix");
        const azIn = document.getElementById("id_azimuth");
        if (!azIn) return;

        const arrowSvg = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="64" height="64"><path d="M12 2L4.5 20.29l.71.71L12 18l6.79 3 .71-.71z" fill="#0000FF" stroke="#FFFFFF" stroke-width="2"/></svg>`;
        const iconSrc = "data:image/svg+xml;base64," + btoa(arrowSvg);

        function patchWidget() {
            if (typeof MapWidget !== "undefined" && !MapWidget._az_patched) {
                console.log("Azimuth: Patching MapWidget prototype");
                const origCreateMap = MapWidget.prototype.createMap;
                MapWidget.prototype.createMap = function () {
                    const map = origCreateMap.apply(this, arguments);
                    const self = this;
                    setTimeout(() => {
                        if (self.featureOverlay) {
                            console.log("Azimuth: Customizing widget instance");
                            const getStyle = () => {
                                const a = parseInt(azIn.value) || 0;
                                return new ol.style.Style({
                                    image: new ol.style.Icon({ anchor: [0.5, 0.5], src: iconSrc, scale: 0.8, rotation: (a * Math.PI) / 180, rotateWithView: true })
                                });
                            };
                            self.featureOverlay.setStyle(getStyle);
                            azIn.addEventListener("input", () => self.featureOverlay.changed());
                            azIn.addEventListener("change", () => self.featureOverlay.changed());

                            self.map.on("singleclick", (evt) => {
                                const oe = evt.originalEvent;
                                const modifier = (oe && (oe.altKey || oe.shiftKey)) || evt.altKey || evt.shiftKey;
                                if (modifier) {
                                    console.log("Azimuth: Modifier click detected!");
                                    const fs = self.featureOverlay.getSource().getFeatures();
                                    if (fs.length > 0) {
                                        const p = fs[0].getGeometry().getCoordinates();
                                        const dx = evt.coordinate[0] - p[0];
                                        const dy = evt.coordinate[1] - p[1];
                                        let a = Math.atan2(dx, dy) * (180 / Math.PI);
                                        if (a < 0) a += 360;
                                        azIn.value = Math.round(a);
                                        console.log("Azimuth: New angle computed", azIn.value);
                                        azIn.dispatchEvent(new Event("change"));
                                        self.featureOverlay.changed();
                                        evt.preventDefault();
                                    } else {
                                        console.log("Azimuth: No features found in featureOverlay source");
                                    }
                                }
                            });
                        }
                    }, 200);
                    return map;
                };
                MapWidget._az_patched = true;
            } else if (typeof MapWidget === "undefined") {
                setTimeout(patchWidget, 50);
            }
        }
        patchWidget();
    })();
</script>
